<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/styles/board.css'/>
  <title>Main - Ding messenger</title>
</head>
<body>
  <main class="board">
    <header class="board-header"></header>
    
    <section class="board-middle">
    </section>

    <footer class="board-footer"></footer>
    </main>
  </body>
  <script type="text/javascript" src="board.js"></script>
</html>