* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body *{
  border: 1px solid gray;
  margin: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

main {
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.talk-header {
  padding-left: 5px;
  height: 10%;
  background-color: lightskyblue;
}
.talk-header-item {
  margin-left: 2%;
}

.talk-middle {
  display:flex;
  height: 85%;
  padding: 2%;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:baseline;
  justify-content:center;
}

.talk-middle-card {
  box-sizing:content-box;
  padding: 5px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  flex-basis: 5em;
  text-align:center;
}

.talk-middle-card * {
  display:block;
  margin: 5px;
  border-radius: 5px;
}

.talk-middle-card img {
  width: 50vw;
  height: 50vh;
}

.talk-footer {
  height: 5%;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-inline: 1em;
}

.talk-footer-column {
  padding-left: 5px;
  padding-right: 5px;
  text-align: start;
  flex-grow: 4;
  display: flex;
  flex-direction: row;
}